################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PluginArchitectureUsingMEF/Plugins.Client/bin
/PluginArchitectureUsingMEF/Plugins.Client/obj
/PluginArchitectureUsingMEF/Plugins.Contract/bin
/PluginArchitectureUsingMEF/Plugins.Contract/obj
/PluginArchitectureUsingMEF/Plugins.Extension/bin
/PluginArchitectureUsingMEF/Plugins.Extension/obj
/PluginArchitectureUsingMEF/.vs/
